html,body{
    height: 100%;
    width: 100%;
}

.ivu-layout-header {
    background: #1e334c;
    height: 80px;
    clear: both;
    line-height: 80px;
    display: block;
    color: #b7cae2;
    position: relative;
    padding: 0;
  }
  
  .ivu-menu-horizontal {
      height: auto;
      line-height: 76px;
  }

  .ivu-menu-horizontal {
    height: auto;
    line-height: 76px;
}